#========================================
# Test profile settings (IT tests)
#========================================
spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6.14:///test-it
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
  security:
    oauth2:
      client:
        provider:
          employee:
            token-uri: http://localhost:${wiremock.server.port:}/token
        registration:
          employee:
            client-id: client-id
            client-secret: client-secret
integration:
  employee:
    url: http://localhost:${wiremock.server.port:}/employee
